body {
    animation-name: body-anim;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    overflow-x: hidden;
}
.cont-ct {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bali.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.faded {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(86, 61, 124, 0.8);
}

.faded-main {
    width: 100%;
    padding: 150px 0px 250px;
    background-color: rgba(86, 61, 124, 0.8);
}

.faded-content {
    width: 50%;
    text-align: center;
}

.faded-search {
    width: 100%;
    padding: 100px 20px;
    background-color: rgba(86, 61, 124, 0.8);
}

.wisata-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    z-index: -1;
}

.wisata-ct1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 30px;
}

.wisata-ct2 {
    padding: 40px;
}

.search-ct {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: -50px;
    box-shadow: 0 0 5px grey;
}

.login-ct, .signup-ct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(86, 61, 124, 0.8);
}

.indo-bg {
    background-image: url(../images/indonesia.jpg);
    background-position: bottom;
}

.bg-purple {
    background-color: rgba(86, 61, 124, 0.8);
}

.bg-bromo {
    background-image: url(../images/bromo.jpg);
    background-size: cover;
}

.bg-raja {
    background-image: url(../images/raja_ampat.jpeg);
    background-size: cover;
}

.login-text, .signup-text {
    margin-bottom: 40px;
}

.text-login, .text-signup {
    color: white;
    opacity: 0.8;
    font-weight: 900;
}

.login-main, .signup-main {
    width: 50%;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
}

@keyframes body-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}